.site-header{
  background: #ef0222;
  color: #e3e4e5;
}
h1 {
	text-align: center;
	font-size: 28px;
	background-color: #ef0222;
	color: white;
}
.foot {
	background-color: #ef0222;
}

p.heart { 
	color: white;
}
.white {
	color: white;
}